/* ------------------------ */
/* CARD                     */
/* ------------------------ */

.card {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: #fff;
    overflow: auto;
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.75rem;
    background-color: #f8f8f8;
}